<?xml version="1.0"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.couchbase.litegap" version="0.1.0">
  <name>LiteGap</name>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="LiteGap">
        <param name="ios-package" value="LiteGap" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <header-file src="src/ios/LiteGap.h"/>
    <source-file src="src/ios/LiteGap.m"/>
    <framework src="libsqlite3.dylib"/>
    <framework src="libstdc++.dylib"/>
    <framework src="libicucore.dylib"/>
    <framework src="libz.dylib"/>
    <framework src="Security.framework"/>
  </platform>
</plugin>
